.services {
  @include flex(flex, self-start, null, column);

  padding-top: 3.5rem;
  padding-bottom: 3.5rem;

  row-gap: 5rem;

  @include md-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include xl-block {
    flex-direction: row;
    padding-top: 7.5rem;
    padding-bottom: 9rem;
    column-gap: 7rem;

    row-gap: 0;
  }
}

.services__item {
  @include sm-block {
    width: 50%;

    &:nth-child(2) {
      align-self: self-end;
    }
  }

  @include xl-block {
    &:nth-child(2) {
      align-self: self-start;
    }
  }
}

.service {
  text-align: center;

  @include sm-block {
    text-align: left;
  }
}

.service__icon {
  width: 3rem;

  @include sm-block {
    width: 4rem;
  }
}

.service__title {
  margin-top: 1rem;

  font-size: (16 / 12) + rem;

  @include sm-block {
    margin-top: (40 / 16) + rem;

    font-size: (25 / 16) + rem;
  }
}

.service__text {
  margin-top: 1rem;

  line-height: (16 / 12) + rem;

  @include sm-block {
    line-height: (30 / 16) + rem;
  }
}
