<section class="services container">
  <div class="services__item service in-view-watcher scale-in-center">
    <img class="service__icon" src="assets/icons/money.svg" alt="" />
    <h3 class="service__title">Get a Steady Income</h3>
    <p class="service__text">
      Swap spontaneous one-time payments for committed subscriptions and generate passive income from your prior posts,
      streams, webinars, and other content.
    </p>
  </div>
  <div class="services__item service in-view-watcher scale-in-center delay-1">
    <img class="service__icon" src="assets/icons/globe.svg" alt="" />
    <h3 class="service__title">Build a following</h3>
    <p class="service__text">
      Tap into a global audience of motivated learners that only have one thing missing from their journey to a better
      life – you
    </p>
  </div>
  <div class="services__item service in-view-watcher scale-in-center delay-2">
    <img class="service__icon" src="assets/icons/rocket.svg" alt="" />
    <h3 class="service__title">Expand Efficiently</h3>
    <p class="service__text">
      Upscale your business and boost your income without being dragged down by the routine. Let the automated system
      take care of your daily chores, while you dash into a better, brighter, and wealthier future.
    </p>
  </div>
</section>
