.services {
  @include flex(flex, self-start, null, column);

  padding-top: 3.5rem;

  row-gap: 5rem;

  @include md-block {
    padding-top: 5rem;

    row-gap: 0;
  }

  @include lg-block {
    flex-direction: row;
    padding-top: 8rem;
    column-gap: 4rem;
  }

  @include xl-block {
    column-gap: 2rem;
  }
}

.services__item {
  @include sm-block {
    width: 50%;

    &:nth-child(2) {
      align-self: self-end;
    }
  }

  @include lg-block {
    &:nth-child(2) {
      align-self: self-start;
    }
  }

  @include xl-block {
    padding-right: 3rem;
  }

  @include from-to($sm, $lg) {
    &:last-child {
      margin-top: -5rem;
    }
  }
}

.service {
  text-align: center;

  @include sm-block {
    text-align: left;
  }
}

.service__icon {
  max-width: 3rem;
  max-height: 3rem;

  @include sm-block {
    max-width: 4rem;
    max-height: 4rem;
  }
}

.service__title {
  margin-top: 1rem;

  font-size: (16 / 16) + rem;

  @include sm-block {
    font-size: (25 / 16) + rem;
  }

  @include lg-block {
    margin-top: (40 / 16) + rem;
  }
}

.service__text {
  margin-top: 1rem;

  line-height: (16 / 16) + rem;

  @include sm-block {
    line-height: (30 / 16) + rem;
  }
}
