<section class="tabs">
  <div class="container">
    <h2 class="tabs__title">Partnership <span class="tabs__title-accent">Perks</span></h2>
    <div class="tabs__content in-view-watcher slide-in-right">
      <div class="tab-img tab-img--active" data-tab="1">
        <img src="assets/tab1.png" alt="" />
      </div>
      <div class="tab-img" data-tab="2">
        <img src="assets/tab2.png" alt="" />
      </div>
      <div class="tab-img" data-tab="3">
        <img src="assets/tab3.png" alt="" />
      </div>
      <div class="tab-img" data-tab="4">
        <img src="assets/tab4.png" alt="" />
      </div>

      <div class="tabs__info">
        <div class="tab tab--active" data-tab="1" data-num="01.">
          <button class="tab__btn">Subscriptions</button>
          <div class="tab__body" style="display: block">
            Thanks to the subscription-centered monetization model, with Self+, you can establish a fair, steady and
            predictable source of income, and enjoy the financial security necessary to commit to your expert and
            coaching business as a full-time job.
          </div>
        </div>
        <div class="tab" data-tab="2" data-num="02.">
          <button class="tab__btn">Promo & Marketing</button>
          <div class="tab__body">
            The platform's technologies and continuous marketing effort ensure a consistent stream of customers going
            your way, as well as equip you with every tool and knowledge necessary
            <strong><i>to reach your target audience and gradually expand your business.</i></strong>
          </div>
        </div>
        <div class="tab" data-tab="3" data-num="03.">
          <button class="tab__btn">Transparency & Support</button>
          <div class="tab__body">
            At Self+, we're with you through thick and thin. No fine print or ‘secret algorithm’. No one-sided
            decisions. Full transparency and 24/7 dedicated support with a personal account manager, and a direct line
            to the development team.
          </div>
        </div>
        <div class="tab" data-tab="4" data-num="04.">
          <button class="tab__btn">Legal Support</button>
          <div class="tab__body">
            <p>
              With Self+ you have an ever-vigilant legal department working to protect your personal and business
              interests:
            </p>
            <ul>
              <li>– Transparent and secure payment processing</li>
              <li>– Assistance with copyright and intellectual property protection</li>
              <li>– Reputation management & damage control</li>
              <li>– Compliance with laws and regulations in local and regional markets</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="tabs__btn">
      <button class="btn btn--primary in-view-watcher scale-in-center delay-1" type="button">Get started</button>
    </div>
  </div>
</section>
