.tabs {
  background-image: $bg-gradient-4;

  text-align: center;

  @include md-block {
    background-color: $bg-secondary-2;
    background-image: none;

    text-align: left;
  }
}

.tabs__container {
  @include flex(flex, flex-start, null, column);
  min-height: 100vh;
  padding-top: 0.5rem;
  padding-bottom: 5rem;

  @include md-block {
    padding-top: 3.5rem;
    padding-bottom: 6rem;
  }
}

.tabs__title {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 3rem;

  background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 32.6804C3.8192 22.6748 3.21923 12.1404 4.66786 2' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M20.6748 40.0169C23.834 35.3659 27.574 31.5855 31.198 27.3446C32.2549 26.1077 34.0042 24.6965 34.6811 23.3428' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M28.6777 54.6902C34.0371 53.7445 39.2662 52.4803 44.6478 51.6889C47.9969 51.1964 51.5245 51.0764 54.6893 50.0215' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% + -1rem) calc(-100% + 5rem);
  background-size: 2rem;

  font-size: (25 / 16) + rem;
  text-align: center;

  @include md-block {
    background-position: 100% calc(-100% + 5rem);
    background-size: 3rem;

    font-size: (45 / 16) + rem;
    text-align: left;
  }

  @include tb-block {
    background-size: auto;
  }

  @include xl-block {
    font-size: (55 / 16) + rem;
  }
}

.tabs__title-accent {
  color: $accent;
}

.tabs__content {
  @include flex(flex, center, center, column);
  width: 100%;
  margin-top: 2rem;
  column-gap: 2rem;

  @include md-block {
    flex-direction: row;
    align-items: initial;
    margin-top: 4rem;
  }

  @include tb-block {
    margin-left: -5rem;
  }

  @include xl-block {
    padding-right: 4rem;
    column-gap: 6rem;
  }
}

.tab-img {
  position: relative;
  flex-shrink: 0;

  @include to($md - 1px) {
    margin-bottom: 2rem;

    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        order: $i + 1;
      }
    }
  }

  @include md-block {
    display: none;
    width: 50%;

    &--active {
      display: block;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      object-fit: contain;
    }
  }
}

.tabs__info {
  display: contents;

  @include md-block {
    display: block;
  }
}

.tabs__btn {
  align-self: center;
  margin-top: 3rem;

  text-align: center;

  @include from($tb + 1px) {
    margin-top: auto;
  }

  @media (min-height: 700px) and (min-width: 1025px) {
    margin-top: 5rem;
  }
}

.tab {
  position: relative;
  margin-bottom: 2rem;

  @include to($md - 1px) {
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        order: $i;
      }
    }
  }

  @include md-block {
    padding-left: 3rem;
  }

  &::before {
    content: attr(data-num);

    font-family: 'handsomeregular', sans-serif;
    font-size: (24 / 16) + rem;

    @include to($md) {
      color: $accent;
    }

    @include md-block {
      position: absolute;
      top: -0.5rem;
      left: 0;

      font-size: (45 / 16) + rem;
    }
  }

  &--active::before {
    color: $accent;
  }
}

.tab__btn {
  padding: 0;

  border-width: 0;

  background-color: transparent;

  color: $accent;
  font-family: inherit;
  font-size: (16 / 16) + rem;
  font-weight: 700;
  text-align: left;

  @include to($md - 1px) {
    cursor: default;
    pointer-events: none;
  }

  @include md-block {
    color: $primary;
    font-size: (25 / 16) + rem;
    font-weight: 400;
  }

  @include xl-block {
    font-size: (30 / 16) + rem;
  }

  .tab--active & {
    color: $accent;
    font-weight: 700;

    cursor: default;
    pointer-events: none;

    @include md-block {
      color: $accent;
      font-size: (30 / 16) + rem;
      font-weight: 700;
    }

    @include xl-block {
      font-size: (35 / 16) + rem;
    }
  }
}

.tab__body {
  display: block;
  margin-top: 1rem;

  @include md-block {
    display: none;
    margin-bottom: 3rem;

    line-height: 1.8;
  }

  ul {
    margin: 2rem 0 0;
    padding: 0;
    list-style-type: none;
  }
}
