<section class="advantages container">
  <h2 class="advantages__title">Claim the Best Spot!
  <span class="advantages__title-bg">
    <img src="assets/title-bg.svg" alt="" />
  </span>
  </h2>
  <p class="advantages__subtitle">
    Reach out today to claim your <br />
    'Founding Creator' status with Self+
  </p>
  <div class="advantages__box">
    <div class="advantages__item advantage">
      <img class="advantage__icon" src="assets/icons/diamond.svg" alt="" />
      <h3 class="advantage__title"><strong>Exclusive Perks</strong> <br />for Founders</h3>
    </div>
    <div class="advantages__item advantage">
      <img class="advantage__icon" src="assets/icons/hands.png" alt="" />
      <h3 class="advantage__title">
        <strong>Premium Partnership</strong><br />
        Deals
      </h3>
    </div>
    <div class="advantages__item advantage">
      <img class="advantage__icon" src="assets/icons/people.png" alt="" />
      <h3 class="advantage__title">
        <strong>Active Role</strong> in Shaping<br />
        the Self+ Community
      </h3>
    </div>
  </div>
  <button class="advantages__btn btn btn--accent btn--lg" type="button">
    Join now
  </button>
</section>
