<section class="steps" id="steps">
  <div class="steps__container container">
    <h2 class="steps__title in-view-watcher scale-in-center">
      <span class="steps__accent-title">Easy</span> as it should be:
    </h2>
    <div class="steps__items">
      <div class="steps__item step in-view-watcher scale-in-center delay-1" data-num="01">
        <h3 class="step__title">
          <span><strong>Create</strong> a custom Self+ Hub</span>
        </h3>
      </div>
      <div class="steps__divider in-view-watcher scale-in-center delay-3"></div>
      <div class="steps__item step in-view-watcher scale-in-center delay-2" data-num="02">
        <h3 class="step__title">
          <span><strong>Publish</strong> your content</span>
        </h3>
      </div>
      <div class="steps__divider in-view-watcher scale-in-center delay-3"></div>
      <div class="steps__item step in-view-watcher scale-in-center delay-3" data-num="03">
        <h3 class="step__title"><strong>Get paid</strong></h3>
      </div>
    </div>
  </div>
    <div class="steps__btn">
        <button class="btn btn--primary btn--md open-popup-btn in-view-watcher scale-in-center delay-3" type="button">Get started</button>
    </div>
</section>
