.overview {
  padding-top: 9rem;

  background-image: url("data:image/svg+xml,%3Csvg width='1534' height='255' viewBox='0 0 1534 255' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.55 171.25C15.45 182.217 28.9833 190.617 44.15 196.45C59.55 202.283 73.9 205.2 87.2 205.2C99.1 205.2 108.2 202.983 114.5 198.55C121.033 193.883 124.3 187.233 124.3 178.6C124.3 173.7 122.9 169.617 120.1 166.35C117.3 163.083 113.45 160.4 108.55 158.3C103.883 155.967 98.4 153.983 92.1 152.35C85.8 150.717 79.2667 148.967 72.5 147.1C64.1 145 55.5833 142.433 46.95 139.4C38.55 136.367 30.85 132.283 23.85 127.15C17.0833 122.017 11.4833 115.483 7.05 107.55C2.85 99.6167 0.750001 89.7 0.750001 77.8C0.750001 66.1333 2.96667 55.5167 7.4 45.95C11.8333 36.3833 18.0167 28.2167 25.95 21.45C34.1167 14.6833 43.8 9.54999 55 6.04999C66.2 2.31665 78.45 0.449979 91.75 0.449979C120.683 0.449979 145.883 7.21665 167.35 20.75V79.2C155.917 69.4 143.783 61.9333 130.95 56.8C118.35 51.6667 105.4 49.1 92.1 49.1C79.2667 49.1 69.8167 51.55 63.75 56.45C57.9167 61.1167 55 67.1833 55 74.65C55 78.6167 56.1667 82 58.5 84.8C61.0667 87.6 64.3333 90.05 68.3 92.15C72.2667 94.25 76.9333 96.1167 82.3 97.75C87.6667 99.15 93.3833 100.667 99.45 102.3C108.317 104.633 117.417 107.317 126.75 110.35C136.083 113.383 144.6 117.583 152.3 122.95C160 128.083 166.3 134.85 171.2 143.25C176.333 151.417 178.9 161.917 178.9 174.75C178.9 186.417 176.8 197.15 172.6 206.95C168.4 216.75 162.333 225.15 154.4 232.15C146.7 239.15 137.25 244.633 126.05 248.6C114.85 252.567 102.25 254.55 88.25 254.55C72.85 254.55 57.6833 252.8 42.75 249.3C27.8167 245.567 14.75 240.317 3.55 233.55V171.25ZM214.611 4.99998H358.811V52.6H267.111V102.3H350.761V148.5H267.111V202.4H359.511V250H214.611V4.99998ZM454.074 4.99998V200.65H539.474V250H401.574V4.99998H454.074ZM625.314 250H572.814V4.99998H713.164V52.6H625.314V102.3H706.164V150.25H625.314V250ZM835.216 4.99998C848.516 4.99998 860.649 6.74998 871.616 10.25C882.816 13.75 892.266 18.8833 899.966 25.65C907.899 32.4167 914.082 40.7 918.516 50.5C922.949 60.3 925.166 71.5 925.166 84.1C925.166 96.7 922.949 107.9 918.516 117.7C914.082 127.5 907.899 135.783 899.966 142.55C892.266 149.317 882.816 154.45 871.616 157.95C860.649 161.45 848.516 163.2 835.216 163.2H804.416V250H751.916V4.99998H835.216ZM804.416 116.65H836.266C846.766 116.65 855.399 113.85 862.166 108.25C868.932 102.65 872.316 94.7167 872.316 84.45C872.316 74.1833 868.932 66.25 862.166 60.65C855.399 55.05 846.766 52.25 836.266 52.25H804.416V116.65ZM1011.2 4.99998V200.65H1096.6V250H958.703V4.99998H1011.2ZM1218.31 254.55C1202.91 254.55 1189.14 252.217 1177.01 247.55C1164.87 242.65 1154.61 235.767 1146.21 226.9C1137.81 218.033 1131.27 207.3 1126.61 194.7C1122.17 182.1 1119.96 168.1 1119.96 152.7V4.99998H1173.16V149.9C1173.16 166.467 1177.01 179.533 1184.71 189.1C1192.41 198.667 1203.61 203.45 1218.31 203.45C1233.01 203.45 1244.21 198.667 1251.91 189.1C1259.61 179.533 1263.46 166.467 1263.46 149.9V4.99998H1316.66V152.7C1316.66 168.1 1314.32 182.1 1309.66 194.7C1305.22 207.3 1298.81 218.033 1290.41 226.9C1282.01 235.767 1271.74 242.65 1259.61 247.55C1247.47 252.217 1233.71 254.55 1218.31 254.55ZM1358.09 171.25C1369.99 182.217 1383.52 190.617 1398.69 196.45C1414.09 202.283 1428.44 205.2 1441.74 205.2C1453.64 205.2 1462.74 202.983 1469.04 198.55C1475.57 193.883 1478.84 187.233 1478.84 178.6C1478.84 173.7 1477.44 169.617 1474.64 166.35C1471.84 163.083 1467.99 160.4 1463.09 158.3C1458.42 155.967 1452.94 153.983 1446.64 152.35C1440.34 150.717 1433.81 148.967 1427.04 147.1C1418.64 145 1410.12 142.433 1401.49 139.4C1393.09 136.367 1385.39 132.283 1378.39 127.15C1371.62 122.017 1366.02 115.483 1361.59 107.55C1357.39 99.6167 1355.29 89.7 1355.29 77.8C1355.29 66.1333 1357.51 55.5167 1361.94 45.95C1366.37 36.3833 1372.56 28.2167 1380.49 21.45C1388.66 14.6833 1398.34 9.54999 1409.54 6.04999C1420.74 2.31665 1432.99 0.449979 1446.29 0.449979C1475.22 0.449979 1500.42 7.21665 1521.89 20.75V79.2C1510.46 69.4 1498.32 61.9333 1485.49 56.8C1472.89 51.6667 1459.94 49.1 1446.64 49.1C1433.81 49.1 1424.36 51.55 1418.29 56.45C1412.46 61.1167 1409.54 67.1833 1409.54 74.65C1409.54 78.6167 1410.71 82 1413.04 84.8C1415.61 87.6 1418.87 90.05 1422.84 92.15C1426.81 94.25 1431.47 96.1167 1436.84 97.75C1442.21 99.15 1447.92 100.667 1453.99 102.3C1462.86 104.633 1471.96 107.317 1481.29 110.35C1490.62 113.383 1499.14 117.583 1506.84 122.95C1514.54 128.083 1520.84 134.85 1525.74 143.25C1530.87 151.417 1533.44 161.917 1533.44 174.75C1533.44 186.417 1531.34 197.15 1527.14 206.95C1522.94 216.75 1516.87 225.15 1508.94 232.15C1501.24 239.15 1491.79 244.633 1480.59 248.6C1469.39 252.567 1456.79 254.55 1442.79 254.55C1427.39 254.55 1412.22 252.8 1397.29 249.3C1382.36 245.567 1369.29 240.317 1358.09 233.55V171.25Z' fill='url(%23paint0_linear_920_212)' fill-opacity='0.1'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_920_212' x1='18' y1='250' x2='1482' y2='250' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2398DAD4'/%3E%3Cstop offset='1' stop-color='%23A2BBFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");

  background-position: center top;
  background-size: contain;

  @include sm-block {
    padding-top: 7rem;

    background-repeat: no-repeat;
    background-position: center bottom;
  }

  @include from-to($tb + 1px, $lg) {
    padding-top: 5rem;
  }
}

.overview__img {
  position: relative;

  @include lg-block {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  img {
    @include img-fit(contain, center);
    filter: drop-shadow(0 20px 70px transparentize(#263a6c, 0.8));
  }
}

.overview__icon {
  position: absolute;
  top: -7rem;
  left: 50%;
  width: (60 / 16) + rem;

  transform: translateX(-50%) rotate(-40deg);

  @include tb-block {
    top: -4rem;
    right: -5rem;
    left: auto;
    width: (96 / 16) + rem;

    transform: none;
  }

  @include lg-block {
    right: 3rem;
  }
}
