<div class="overview">
  <div class="container">
    <div class="overview__img">
      <img src="assets/overview.jpg" alt="" />
      <svg class="overview__icon" width="98" height="90" viewBox="0 0 98 90" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 42C2 42 4.74205 22.8225 8 2" stroke="#84E1BC" stroke-width="3" stroke-linecap="round" />
        <path
          d="M41 57C41 57 41 57 57.5 37C69 23 76.5 14 76.5 14"
          stroke="#84E1BC"
          stroke-width="3"
          stroke-linecap="round"
        />
        <path
          d="M57 88C68.1259 85.9742 85.3277 83.195 96.5 81.4999"
          stroke="#84E1BC"
          stroke-width="3"
          stroke-linecap="round"
        />
      </svg>
    </div>
  </div>
</div>
