<section class="intro">
  <div class="intro__container container">
    <div class="intro__info">
      <p class="intro__slogan">
        <span>THERE'S YOUR SELF.</span>
        <span class="intro__slogan-accent">AND THERE'S YOUR SELF+</span>
      </p>
      <h1 class="intro__title">Content Monetization for Experts and Coaches in Wellness</h1>
      <p class="intro__text">
        Reach out and connect with a global audience of followers, and turn your expertise into a profitable,
        sustainable and mentally rewarding business.
      </p>
      <button class="intro__btn btn btn--primary in-view-watcher scale-in-center delay-4" type="button">Join now</button>
    </div>
    <div class="intro__media intro__media--left in-view-watcher slide-in-right">
      <img src="assets/intro-1.jpg" alt="" />
    </div>
    <div class="intro__media intro__media--right in-view-watcher slide-in-right delay-1">
      <img src="assets/intro-2.jpg" alt="" />
    </div>
  </div>
</section>
