<section class="intro" id="intro">
  <div class="intro__container container">
    <div class="intro__info">
      <div>
          <p class="intro__slogan">
              <span>There's your self.</span>
              <span class="intro__slogan-accent">And there's your Self+</span>
          </p>
          <h1 class="intro__title">Content Monetization for Experts and Coaches in Wellness</h1>
          <p class="intro__text">
              Reach out and connect with a global audience of followers, and turn your expertise into a profitable,
              sustainable and mentally rewarding business.
          </p>
      </div>
      <div class="intro__btn">
        <button class="btn btn--primary in-view-watcher scale-in-center delay-4" type="button">Join now</button>
      </div>
    </div>
    <div class="intro__media intro__media--left in-view-watcher slide-in-right">
      <img src="assets/intro-1.jpg" alt="" />
    </div>
    <div class="intro__media intro__media--right in-view-watcher slide-in-right delay-1">
      <img src="assets/intro-2.jpg" alt="" />
    </div>
  </div>
</section>
