.footer {
  padding-top: (40 / 16) + rem;
  padding-bottom: (40 / 16) + rem;

  background-color: $bg-footer;

  @include md-block {
    padding-top: (110 / 16) + rem;
    padding-bottom: (70 / 16) + rem;
  }

  &__container {
    @include flex(flex, center, space-between, column);

    @include md-block {
      flex-direction: row;
    }
  }
}
