*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;

  font-family: sans-serif;
  line-height: 1.15;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;

  font-size: 2em;
}

p + p {
  margin-top: 1rem;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  position: relative;

  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  border: 1px solid currentcolor;

  line-height: inherit;
}

button {
  overflow: visible;

  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  padding: 1px 6px;

  appearance: button;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  margin: 0 2px;

  border: 1px solid currentcolor;
}

legend {
  display: table;
  max-width: 100%;

  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;

  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;

  vertical-align: top;
}

[type='search'] {
  outline-offset: -2px;

  appearance: textfield;
}

[type='color'] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::input-placeholder {
  opacity: 0.5;

  color: inherit;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  font: inherit;

  appearance: button;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;

  color: inherit;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-color: inherit;

  text-indent: 0;
}

details {
  display: block;
}

dialog {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;

  border: solid;

  background-color: inherit;

  color: inherit;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}
