$base-lg: 16px;
$base-sm: 12px;
$easing: cubic-bezier(0.11, 0, 0.5, 0);

$bg-primary: #fff;
$bg-secondary-1: #f8f9ff;
$bg-secondary-2: #eff1fb;
$bg-footer: #000;
$bg-gradient-1: linear-gradient(115.84deg, #f6f5fb 75.65%, #fefeff 96.68%);
$bg-gradient-2: linear-gradient(167.47deg, #f8f7fc 61.22%, rgba(248, 247, 252, 0%) 90.91%);
$bg-gradient-3: linear-gradient(86.48deg, #94e5c4 -61.66%, #a2bafe 94.49%);
$bg-gradient-4: linear-gradient(180deg, #eff1fb 77.22%, rgba(239, 241, 251, 0%) 88.04%);

$primary: #2d2d2d;
$secondary: #fff;
$accent: #6a8ae8;

$btn-primary: #232323;
$btn-accent: #6a8ae8;
$btn-hover: #8fa9f4;
