@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/CentraNo1-Bold.woff2") format("woff2"), url("./fonts/CentraNo1-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CentraNo1';
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/CentraNo1-BoldItalic.woff2") format("woff2"), url("./fonts/CentraNo1-BoldItalic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/CentraNo1-Medium.woff2") format("woff2"), url("./fonts/CentraNo1-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/CentraNo1-Book.woff2") format("woff2"), url("./fonts/CentraNo1-Book.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'CentraNo1';
  font-style: normal;
  font-weight: 300;
  src: url("./fonts/CentraNo1-Light.woff2") format("woff2"), url("./fonts/CentraNo1-Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'handsomeregular';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/handsomeregular.woff2") format("woff2"), url("./fonts/handsomeregular.woff") format("woff");
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
}

main {
  display: block;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

p + p {
  margin-top: 1rem;
}

a {
  background-color: transparent;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  border: 1px solid currentcolor;
  line-height: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

[type='button'],
[type='reset'],
[type='submit'],
button {
  padding: 1px 6px;
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
}

input {
  overflow: visible;
}

input,
textarea {
  padding: 1px;
}

fieldset {
  margin: 0 2px;
  border: 1px solid currentcolor;
}

legend {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type='search'] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

[type='color'] {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::input-placeholder {
  opacity: 0.5;
  color: inherit;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  font: inherit;
  -webkit-appearance: button;
          appearance: button;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  color: inherit;
}

dl,
ol,
ul {
  margin: 1em 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ol ol,
ol ul,
ul dl,
ul ol,
ul ul {
  margin: 0;
}

b,
strong {
  font-weight: bolder;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-color: inherit;
  text-indent: 0;
}

details {
  display: block;
}

dialog {
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  border: solid;
  background-color: inherit;
  color: inherit;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  background-color: #fff;
  color: #2d2d2d;
  font-family: 'CentraNo1', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
h6,
h5,
h4,
h3,
h2,
h1 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

svg,
img {
  max-width: 100%;
  max-height: 100%;
}

section {
  width: 100vw;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

@-webkit-keyframes slide-in-right {
  0% {
    transform: translateX(1000px) skewX(30deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px) skewX(30deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0) skewX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-bottom {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(600px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.container {
  width: 94rem;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.link {
  text-decoration: none;
}

.link--primary {
  color: #2d2d2d;
}

.link--secondary {
  color: #fff;
}

.link--lg {
  font-size: 1.625rem;
}

.btn {
  display: inline-block;
  min-width: 10.625rem;
  height: 2.125rem;
  transition: background-color 0.5s ease-in-out;
  border-width: 0;
  border-radius: 2.5rem;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.125rem;
}

.btn--lg {
  min-width: 10.625rem;
  font-size: 0.875rem;
  line-height: 2.125rem;
}

.btn--primary {
  background-color: #232323;
  box-shadow: 0 10px 30px rgba(17, 39, 106, 0.3);
  color: #fff;
}

.btn--accent {
  background-color: #6a8ae8;
  box-shadow: 0 2px 16px rgba(0, 30, 36, 0.3);
  color: #fff;
}

.btn:hover {
  background-color: #8fa9f4;
}

.nav-dots {
  display: none;
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 0.5rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  transform: translateY(-50%);
}

.nav-dots li + li {
  margin-top: 0.625rem;
}

.nav-dots__item {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  transition: background-color 0.25s ease-in-out;
  border-radius: 50%;
  background-color: #eaedfc;
  box-shadow: 0 2px 6px rgba(0, 30, 36, 0.1);
}

.nav-dots__item--selected {
  background-color: #6a8ae8;
}

.header {
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
}

.intro {
  position: relative;
  background-image: linear-gradient(167.47deg, #f8f7fc 61.22%, rgba(248, 247, 252, 0) 90.91%);
}

.intro__container {
  display: flex;
  flex-direction: column-reverse;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.intro__info {
  position: relative;
  z-index: 1;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 3.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.intro__media {
  flex-shrink: 0;
  overflow: hidden;
}

.intro__media img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro__media--right {
  display: none;
}

.intro__slogan {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
}

.intro__slogan span {
  display: block;
}

.intro__slogan-accent {
  color: #6a8ae8;
}

.intro__title {
  margin-top: 2rem;
  font-size: 1.5625rem;
  font-weight: 700;
}

.intro__text {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.75rem;
}

.intro__btn {
  margin-top: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-top: 3.5rem;
  row-gap: 5rem;
}

.service {
  text-align: center;
}

.service__icon {
  max-width: 3rem;
  max-height: 3rem;
}

.service__title {
  margin-top: 1rem;
  font-size: 1rem;
}

.service__text {
  margin-top: 1rem;
  line-height: 1rem;
}

.overview {
  padding-top: 9rem;
  background-image: url("data:image/svg+xml,%3Csvg width='1534' height='255' viewBox='0 0 1534 255' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.55 171.25C15.45 182.217 28.9833 190.617 44.15 196.45C59.55 202.283 73.9 205.2 87.2 205.2C99.1 205.2 108.2 202.983 114.5 198.55C121.033 193.883 124.3 187.233 124.3 178.6C124.3 173.7 122.9 169.617 120.1 166.35C117.3 163.083 113.45 160.4 108.55 158.3C103.883 155.967 98.4 153.983 92.1 152.35C85.8 150.717 79.2667 148.967 72.5 147.1C64.1 145 55.5833 142.433 46.95 139.4C38.55 136.367 30.85 132.283 23.85 127.15C17.0833 122.017 11.4833 115.483 7.05 107.55C2.85 99.6167 0.750001 89.7 0.750001 77.8C0.750001 66.1333 2.96667 55.5167 7.4 45.95C11.8333 36.3833 18.0167 28.2167 25.95 21.45C34.1167 14.6833 43.8 9.54999 55 6.04999C66.2 2.31665 78.45 0.449979 91.75 0.449979C120.683 0.449979 145.883 7.21665 167.35 20.75V79.2C155.917 69.4 143.783 61.9333 130.95 56.8C118.35 51.6667 105.4 49.1 92.1 49.1C79.2667 49.1 69.8167 51.55 63.75 56.45C57.9167 61.1167 55 67.1833 55 74.65C55 78.6167 56.1667 82 58.5 84.8C61.0667 87.6 64.3333 90.05 68.3 92.15C72.2667 94.25 76.9333 96.1167 82.3 97.75C87.6667 99.15 93.3833 100.667 99.45 102.3C108.317 104.633 117.417 107.317 126.75 110.35C136.083 113.383 144.6 117.583 152.3 122.95C160 128.083 166.3 134.85 171.2 143.25C176.333 151.417 178.9 161.917 178.9 174.75C178.9 186.417 176.8 197.15 172.6 206.95C168.4 216.75 162.333 225.15 154.4 232.15C146.7 239.15 137.25 244.633 126.05 248.6C114.85 252.567 102.25 254.55 88.25 254.55C72.85 254.55 57.6833 252.8 42.75 249.3C27.8167 245.567 14.75 240.317 3.55 233.55V171.25ZM214.611 4.99998H358.811V52.6H267.111V102.3H350.761V148.5H267.111V202.4H359.511V250H214.611V4.99998ZM454.074 4.99998V200.65H539.474V250H401.574V4.99998H454.074ZM625.314 250H572.814V4.99998H713.164V52.6H625.314V102.3H706.164V150.25H625.314V250ZM835.216 4.99998C848.516 4.99998 860.649 6.74998 871.616 10.25C882.816 13.75 892.266 18.8833 899.966 25.65C907.899 32.4167 914.082 40.7 918.516 50.5C922.949 60.3 925.166 71.5 925.166 84.1C925.166 96.7 922.949 107.9 918.516 117.7C914.082 127.5 907.899 135.783 899.966 142.55C892.266 149.317 882.816 154.45 871.616 157.95C860.649 161.45 848.516 163.2 835.216 163.2H804.416V250H751.916V4.99998H835.216ZM804.416 116.65H836.266C846.766 116.65 855.399 113.85 862.166 108.25C868.932 102.65 872.316 94.7167 872.316 84.45C872.316 74.1833 868.932 66.25 862.166 60.65C855.399 55.05 846.766 52.25 836.266 52.25H804.416V116.65ZM1011.2 4.99998V200.65H1096.6V250H958.703V4.99998H1011.2ZM1218.31 254.55C1202.91 254.55 1189.14 252.217 1177.01 247.55C1164.87 242.65 1154.61 235.767 1146.21 226.9C1137.81 218.033 1131.27 207.3 1126.61 194.7C1122.17 182.1 1119.96 168.1 1119.96 152.7V4.99998H1173.16V149.9C1173.16 166.467 1177.01 179.533 1184.71 189.1C1192.41 198.667 1203.61 203.45 1218.31 203.45C1233.01 203.45 1244.21 198.667 1251.91 189.1C1259.61 179.533 1263.46 166.467 1263.46 149.9V4.99998H1316.66V152.7C1316.66 168.1 1314.32 182.1 1309.66 194.7C1305.22 207.3 1298.81 218.033 1290.41 226.9C1282.01 235.767 1271.74 242.65 1259.61 247.55C1247.47 252.217 1233.71 254.55 1218.31 254.55ZM1358.09 171.25C1369.99 182.217 1383.52 190.617 1398.69 196.45C1414.09 202.283 1428.44 205.2 1441.74 205.2C1453.64 205.2 1462.74 202.983 1469.04 198.55C1475.57 193.883 1478.84 187.233 1478.84 178.6C1478.84 173.7 1477.44 169.617 1474.64 166.35C1471.84 163.083 1467.99 160.4 1463.09 158.3C1458.42 155.967 1452.94 153.983 1446.64 152.35C1440.34 150.717 1433.81 148.967 1427.04 147.1C1418.64 145 1410.12 142.433 1401.49 139.4C1393.09 136.367 1385.39 132.283 1378.39 127.15C1371.62 122.017 1366.02 115.483 1361.59 107.55C1357.39 99.6167 1355.29 89.7 1355.29 77.8C1355.29 66.1333 1357.51 55.5167 1361.94 45.95C1366.37 36.3833 1372.56 28.2167 1380.49 21.45C1388.66 14.6833 1398.34 9.54999 1409.54 6.04999C1420.74 2.31665 1432.99 0.449979 1446.29 0.449979C1475.22 0.449979 1500.42 7.21665 1521.89 20.75V79.2C1510.46 69.4 1498.32 61.9333 1485.49 56.8C1472.89 51.6667 1459.94 49.1 1446.64 49.1C1433.81 49.1 1424.36 51.55 1418.29 56.45C1412.46 61.1167 1409.54 67.1833 1409.54 74.65C1409.54 78.6167 1410.71 82 1413.04 84.8C1415.61 87.6 1418.87 90.05 1422.84 92.15C1426.81 94.25 1431.47 96.1167 1436.84 97.75C1442.21 99.15 1447.92 100.667 1453.99 102.3C1462.86 104.633 1471.96 107.317 1481.29 110.35C1490.62 113.383 1499.14 117.583 1506.84 122.95C1514.54 128.083 1520.84 134.85 1525.74 143.25C1530.87 151.417 1533.44 161.917 1533.44 174.75C1533.44 186.417 1531.34 197.15 1527.14 206.95C1522.94 216.75 1516.87 225.15 1508.94 232.15C1501.24 239.15 1491.79 244.633 1480.59 248.6C1469.39 252.567 1456.79 254.55 1442.79 254.55C1427.39 254.55 1412.22 252.8 1397.29 249.3C1382.36 245.567 1369.29 240.317 1358.09 233.55V171.25Z' fill='url(%23paint0_linear_920_212)' fill-opacity='0.1'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_920_212' x1='18' y1='250' x2='1482' y2='250' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2398DAD4'/%3E%3Cstop offset='1' stop-color='%23A2BBFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: center top;
  background-size: contain;
}

.overview__img {
  position: relative;
}

.overview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  filter: drop-shadow(0 20px 70px rgba(38, 58, 108, 0.2));
}

.overview__icon {
  position: absolute;
  top: -7rem;
  left: 50%;
  width: 3.75rem;
  transform: translateX(-50%) rotate(-40deg);
}

.steps {
  position: relative;
  z-index: 1;
  margin-top: -10px;
  padding: 7.75rem 1rem 10rem;
  background-image: linear-gradient(86.48deg, #94e5c4 -61.66%, #a2bafe 94.49%);
}

.steps__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.steps__title {
  width: 100%;
  margin-bottom: 4rem;
  margin-left: -1rem;
  padding-top: 0.5rem;
  padding-left: 1rem;
  background-image: url("data:image/svg+xml,%3Csvg width='85' height='44' viewBox='0 0 85 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.7812 10.723C76.9969 7.89346 74.4364 6.53605 70.9807 5.58338C66.6942 4.40168 62.3114 3.23051 57.9421 2.68966C48.0279 1.46245 38.1355 0.957682 28.2231 2.8164C19.8526 4.38599 9.77826 6.74867 3.49737 14.7503C-1.80674 21.5076 6.09837 29.5196 10.6074 31.9981C21.9827 38.2509 35.0283 41.603 47.3442 42.6736C53.9492 43.2477 60.9612 42.8248 67.4671 41.0952C72.1561 39.8487 77.0709 38.1738 80.8036 34.0882C87.2102 27.0761 78.2224 19.1844 73.4812 16.5589C63.0011 10.7554 51.4606 10.3033 40.2438 11.9407' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 5rem;
  font-size: 1.5625rem;
  font-style: italic;
  line-height: 2rem;
}

.steps__accent-title {
  color: #fff;
}

.steps__items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
}

.steps__divider {
  width: 3px;
  height: 4rem;
  margin-left: 1rem;
  border-radius: 3px;
  background-color: #fff;
}

.step {
  display: flex;
  align-items: center;
}

.step::before {
  content: attr(data-num);
  display: block;
  color: #fff;
  font-family: 'handsomeregular', sans-serif;
  font-size: 2.1875rem;
}

.step__title {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.step__title strong {
  font-weight: 700;
}

.steps__btn {
  width: 100%;
  margin-top: 6rem;
  text-align: center;
}

.tabs {
  background-image: linear-gradient(180deg, #eff1fb 77.22%, rgba(239, 241, 251, 0) 88.04%);
  text-align: center;
}

.tabs__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}

.tabs__title {
  display: inline-block;
  padding-top: 3rem;
  padding-right: 3rem;
  background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 32.6804C3.8192 22.6748 3.21923 12.1404 4.66786 2' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M20.6748 40.0169C23.834 35.3659 27.574 31.5855 31.198 27.3446C32.2549 26.1077 34.0042 24.6965 34.6811 23.3428' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M28.6777 54.6902C34.0371 53.7445 39.2662 52.4803 44.6478 51.6889C47.9969 51.1964 51.5245 51.0764 54.6893 50.0215' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: calc(100% + -1rem) calc(-100% + 5rem);
  background-size: 2rem;
  font-size: 1.5625rem;
  text-align: center;
}

.tabs__title-accent {
  color: #6a8ae8;
}

.tabs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.tab-img {
  position: relative;
  flex-shrink: 0;
}

.tabs__info {
  display: contents;
}

.tabs__btn {
  align-self: center;
  margin-top: 3rem;
  text-align: center;
}

.tab {
  position: relative;
  margin-bottom: 2rem;
}

.tab::before {
  content: attr(data-num);
  font-family: 'handsomeregular', sans-serif;
  font-size: 1.5rem;
}

.tab--active::before {
  color: #6a8ae8;
}

.tab__btn {
  padding: 0;
  border-width: 0;
  background-color: transparent;
  color: #6a8ae8;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
}

.tab--active .tab__btn {
  color: #6a8ae8;
  font-weight: 700;
  cursor: default;
  pointer-events: none;
}

.tab__body {
  display: block;
  margin-top: 1rem;
}

.tab__body ul {
  margin: 2rem 0 0;
  padding: 0;
  list-style-type: none;
}

.advantages {
  padding-top: 3.4375rem;
  padding-bottom: 3.4375rem;
  text-align: center;
}

.advantages__title {
  display: inline-block;
  position: relative;
  margin-bottom: 1.5rem;
  font-size: 1.5625rem;
  font-weight: 400;
}

.advantages__title-bg {
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  right: -3rem;
  width: 11rem;
  height: 6rem;
}

.advantages__subtitle {
  margin-bottom: 2rem;
}

.advantage__icon {
  width: 3rem;
}

.advantage__title {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.advantage__title strong {
  color: #6a8ae8;
}

.advantages__btn {
  margin-top: 2.1875rem;
}

.footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  background-color: #000;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 375px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 676px) {
  .btn {
    min-width: 14.0625rem;
    height: 2.8125rem;
    font-size: 1rem;
    line-height: 2.8125rem;
  }

  .btn--lg {
    min-width: 19.375rem;
    height: 4rem;
    font-size: 1.625rem;
    line-height: 4rem;
  }

  .header {
    display: block;
  }

  .intro__slogan {
    font-size: 1.5625rem;
  }

  .services__item {
    width: 50%;
  }

  .services__item:nth-child(2) {
    align-self: self-end;
  }

  .service {
    text-align: left;
  }

  .service__icon {
    max-width: 4rem;
    max-height: 4rem;
  }

  .service__title {
    font-size: 1.5625rem;
  }

  .service__text {
    line-height: 1.875rem;
  }

  .overview {
    padding-top: 7rem;
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .advantage__icon {
    width: 4rem;
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }

  .slide-in-right.is-in-view {
    -webkit-animation: slide-in-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
            animation: slide-in-right 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }

  .slide-in-bottom.is-in-view {
    -webkit-animation: slide-in-bottom 1s cubic-bezier(1, 0, 0, 1) both;
            animation: slide-in-bottom 1s cubic-bezier(1, 0, 0, 1) both;
  }

  .scale-in-center.is-in-view {
    transform: scale(0);
    -webkit-animation: scale-in-center 1s cubic-bezier(1, 0, 0, 1) both;
            animation: scale-in-center 1s cubic-bezier(1, 0, 0, 1) both;
  }

  .is-in-view {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }

  .delay-1.is-in-view {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }

  .delay-2.is-in-view {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }

  .delay-3.is-in-view {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }

  .delay-4.is-in-view {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  .intro {
    padding-top: 10rem;
    padding-bottom: 5rem;
    background-image: linear-gradient(115.84deg, #f6f5fb 75.65%, #fefeff 96.68%);
  }

  .intro__container {
    flex-direction: row;
    height: 100%;
  }

  .intro__info {
    align-self: center;
    padding-top: 0;
    padding-bottom: 0;
    text-align: left;
  }

  .intro__title {
    font-size: 2.8125rem;
  }

  .intro__text {
    font-size: 1rem;
  }

  .services {
    padding-top: 5rem;
    row-gap: 0;
  }

  .steps {
    padding: 7rem 0 5rem;
  }

  .steps__title {
    margin-right: 3rem;
    padding-top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='135' height='8' viewBox='0 0 135 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.93164 6.45916C29.8295 4.10986 57.7424 2.11889 85.7543 1.8209C100.585 1.66312 145.002 4.45543 130.17 4.45543' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-position: left bottom;
    background-size: auto;
    font-size: 2.8125rem;
    line-height: 3.625rem;
  }

  .steps__items {
    flex-direction: row;
    align-items: center;
  }

  .steps__divider {
    width: 3rem;
    height: 3px;
    margin: 5.5rem 2rem 0;
  }

  .step {
    display: block;
  }

  .step::before {
    font-size: 3.4375rem;
  }

  .step__title {
    margin-top: 1rem;
    margin-left: 0;
    font-size: 1.5625rem;
    line-height: 2rem;
  }

  .tabs {
    background-color: #eff1fb;
    background-image: none;
    text-align: left;
  }

  .tabs__container {
    padding-top: 3.5rem;
    padding-bottom: 6rem;
  }

  .tabs__title {
    background-position: 100% calc(-100% + 5rem);
    background-size: 3rem;
    font-size: 2.8125rem;
    text-align: left;
  }

  .tabs__content {
    flex-direction: row;
    align-items: initial;
    margin-top: 4rem;
  }

  .tab-img {
    display: none;
    width: 50%;
  }

  .tab-img--active {
    display: block;
  }

  .tab-img img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }

  .tabs__info {
    display: block;
  }

  .tab {
    padding-left: 3rem;
  }

  .tab::before {
    position: absolute;
    top: -0.5rem;
    left: 0;
    font-size: 2.8125rem;
  }

  .tab__btn {
    color: #2d2d2d;
    font-size: 1.5625rem;
    font-weight: 400;
  }

  .tab--active .tab__btn {
    color: #6a8ae8;
    font-size: 1.875rem;
    font-weight: 700;
  }

  .tab__body {
    display: none;
    margin-bottom: 3rem;
    line-height: 1.8;
  }

  .advantages {
    padding-top: 10rem;
    padding-bottom: 7.25rem;
  }

  .advantages__title {
    font-size: 2.8125rem;
  }

  .advantages__title-bg {
    top: -2.5rem;
    right: -5rem;
    width: 19rem;
    height: 7rem;
  }

  .advantages__subtitle {
    margin-bottom: 6rem;
    font-size: 1.5625rem;
  }

  .advantages__box {
    display: flex;
    padding: 4rem;
    border-radius: 10px;
    background-color: #f8f9ff;
    box-shadow: 0 14px 30px rgba(46, 74, 158, 0.14);
  }

  .advantages__item {
    flex: 1;
  }

  .advantage__title {
    font-size: 1.3125rem;
  }

  .advantages__btn {
    margin-top: 8rem;
  }

  .footer {
    padding-top: 6.875rem;
    padding-bottom: 4.375rem;
  }

  .footer__container {
    flex-direction: row;
  }
}

@media (min-height: 700px) and (min-width: 768px) {
  .intro {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .nav-dots {
    display: block;
    right: 3rem;
  }

  .intro__media--left {
    width: 15rem;
  }

  .intro__media--left img {
    -o-object-position: 75%;
       object-position: 75%;
  }

  .intro__btn {
    margin-top: 4rem;
  }

  .overview__icon {
    top: -4rem;
    right: -5rem;
    left: auto;
    width: 6rem;
    transform: none;
  }

  .tabs__title {
    background-size: auto;
  }

  .tabs__content {
    margin-left: -5rem;
  }
}

@media screen and (min-width: 1025px) {
  .btn {
    min-width: 17.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .intro__text {
    font-size: 1.125rem;
  }

  .steps__btn {
    margin-top: 8rem;
  }

  .tabs__btn {
    margin-top: auto;
  }
}

@media (min-height: 700px) and (min-width: 1025px) {
  .tabs__btn {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .intro__media--right {
    display: block;
    width: 12rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .services {
    flex-direction: row;
    padding-top: 8rem;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }

  .services__item:nth-child(2) {
    align-self: self-start;
  }

  .service__title {
    margin-top: 2.5rem;
  }

  .overview__img {
    padding-right: 8rem;
    padding-left: 8rem;
  }

  .overview__icon {
    right: 3rem;
  }
}

@media screen and (min-width: 1460px) {
  .container {
    padding-right: 10rem;
    padding-left: 10rem;
  }

  .btn--lg {
    min-width: 23.75rem;
    height: 4.75rem;
    font-size: 2rem;
    line-height: 4.75rem;
  }

  .nav-dots li + li {
    margin-top: 1.125rem;
  }

  .nav-dots__item {
    width: 1.3125rem;
    height: 1.3125rem;
  }

  .intro {
    padding-bottom: 8rem;
  }

  .intro__media--left {
    width: 17rem;
  }

  .intro__media--right {
    width: 15rem;
  }

  .intro__title {
    font-size: 3.4375rem;
  }

  .intro__btn {
    margin-left: 4rem;
  }

  .services {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .services__item {
    padding-right: 3rem;
  }

  .steps {
    padding-top: 10rem;
    padding-bottom: 9.375rem;
  }

  .steps__container {
    flex-wrap: nowrap;
  }

  .steps__title {
    width: auto;
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .step__title {
    white-space: nowrap;
  }

  .tabs__title {
    font-size: 3.4375rem;
  }

  .tabs__content {
    padding-right: 4rem;
    -moz-column-gap: 6rem;
         column-gap: 6rem;
  }

  .tab__btn {
    font-size: 1.875rem;
  }

  .tab--active .tab__btn {
    font-size: 2.1875rem;
  }

  .advantages {
    padding-top: 13rem;
    padding-bottom: 15.625rem;
  }

  .advantages__title {
    font-size: 3.4375rem;
  }

  .advantages__title-bg {
    top: -3rem;
    right: -6rem;
    width: 25rem;
    height: 8rem;
  }

  .advantages__box {
    padding: 2rem 4rem 4rem;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }

  .advantage__title {
    font-size: 1.5625rem;
  }
}

@media screen and (max-width: 768px) {
  .intro__media--left {
    width: calc(100% + 6rem);
    margin-left: -3rem;
  }

  .tab::before {
    color: #6a8ae8;
  }

  .advantages__item {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: 767px) {
  .intro__media--left {
    height: 20rem;
  }

  .intro__slogan {
    padding: 1rem 2rem;
    background-image: url("data:image/svg+xml,%3Csvg width='185' height='32' viewBox='0 0 185 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M175.464 4.66668C169.041 2.97087 163.213 2.29058 155.404 1.99358C145.717 1.62519 135.815 1.27471 125.984 1.36801C103.675 1.57972 81.4614 2.2994 59.3531 4.69079C40.6838 6.71019 18.2444 9.47519 4.6695 15.8108C-6.79432 21.1611 11.4405 25.9607 21.7086 27.2209C47.6127 30.4002 77.0779 31.3489 104.762 30.7652C119.608 30.4522 135.304 29.3906 149.783 27.461C160.217 26.0704 171.131 24.3525 179.242 21.0604C193.161 15.4101 172.506 10.8133 161.708 9.47452C137.84 6.5152 111.934 7.45133 86.887 9.82834' stroke='%237699EE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center 2.5rem;
    background-size: 50%;
  }

  .intro__text::before {
    content: '';
    display: block;
    width: 4.5rem;
    height: 3px;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-left: auto;
    border-radius: 3px;
    background-color: #6a8ae8;
  }

  .tab-img {
    margin-bottom: 2rem;
  }

  .tab-img:nth-child(1) {
    order: 2;
  }

  .tab-img:nth-child(2) {
    order: 3;
  }

  .tab-img:nth-child(3) {
    order: 4;
  }

  .tab-img:nth-child(4) {
    order: 5;
  }

  .tab:nth-child(1) {
    order: 1;
  }

  .tab:nth-child(2) {
    order: 2;
  }

  .tab:nth-child(3) {
    order: 3;
  }

  .tab:nth-child(4) {
    order: 4;
  }

  .tab__btn {
    cursor: default;
    pointer-events: none;
  }
}

@media screen and (max-width: 675px) {
  .intro__slogan {
    background-position: center 1.8rem;
    background-size: auto;
  }
}

@media screen and (max-width: 374px) {
  .intro__media--left {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .intro__info {
    width: 60%;
  }

  .intro__media--left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 44%;
  }

  .intro__media--left img {
    -o-object-position: 75%;
       object-position: 75%;
  }

  .intro__title {
    width: 106%;
  }
}

@media screen and (min-width: 676px) and (max-width: 1200px) {
  .services__item:last-child {
    margin-top: -5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .overview {
    padding-top: 5rem;
  }
}
@supports (-webkit-appearance:none){
.overview{background-image:url("data:image/svg+xml,%3Csvg width='1534' height='255' viewBox='0 0 1534 255' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.55 171.25C15.45 182.217 28.9833 190.617 44.15 196.45C59.55 202.283 73.9 205.2 87.2 205.2C99.1 205.2 108.2 202.983 114.5 198.55C121.033 193.883 124.3 187.233 124.3 178.6C124.3 173.7 122.9 169.617 120.1 166.35C117.3 163.083 113.45 160.4 108.55 158.3C103.883 155.967 98.4 153.983 92.1 152.35C85.8 150.717 79.2667 148.967 72.5 147.1C64.1 145 55.5833 142.433 46.95 139.4C38.55 136.367 30.85 132.283 23.85 127.15C17.0833 122.017 11.4833 115.483 7.05 107.55C2.85 99.6167 0.750001 89.7 0.750001 77.8C0.750001 66.1333 2.96667 55.5167 7.4 45.95C11.8333 36.3833 18.0167 28.2167 25.95 21.45C34.1167 14.6833 43.8 9.54999 55 6.04999C66.2 2.31665 78.45 0.449979 91.75 0.449979C120.683 0.449979 145.883 7.21665 167.35 20.75V79.2C155.917 69.4 143.783 61.9333 130.95 56.8C118.35 51.6667 105.4 49.1 92.1 49.1C79.2667 49.1 69.8167 51.55 63.75 56.45C57.9167 61.1167 55 67.1833 55 74.65C55 78.6167 56.1667 82 58.5 84.8C61.0667 87.6 64.3333 90.05 68.3 92.15C72.2667 94.25 76.9333 96.1167 82.3 97.75C87.6667 99.15 93.3833 100.667 99.45 102.3C108.317 104.633 117.417 107.317 126.75 110.35C136.083 113.383 144.6 117.583 152.3 122.95C160 128.083 166.3 134.85 171.2 143.25C176.333 151.417 178.9 161.917 178.9 174.75C178.9 186.417 176.8 197.15 172.6 206.95C168.4 216.75 162.333 225.15 154.4 232.15C146.7 239.15 137.25 244.633 126.05 248.6C114.85 252.567 102.25 254.55 88.25 254.55C72.85 254.55 57.6833 252.8 42.75 249.3C27.8167 245.567 14.75 240.317 3.55 233.55V171.25ZM214.611 4.99998H358.811V52.6H267.111V102.3H350.761V148.5H267.111V202.4H359.511V250H214.611V4.99998ZM454.074 4.99998V200.65H539.474V250H401.574V4.99998H454.074ZM625.314 250H572.814V4.99998H713.164V52.6H625.314V102.3H706.164V150.25H625.314V250ZM835.216 4.99998C848.516 4.99998 860.649 6.74998 871.616 10.25C882.816 13.75 892.266 18.8833 899.966 25.65C907.899 32.4167 914.082 40.7 918.516 50.5C922.949 60.3 925.166 71.5 925.166 84.1C925.166 96.7 922.949 107.9 918.516 117.7C914.082 127.5 907.899 135.783 899.966 142.55C892.266 149.317 882.816 154.45 871.616 157.95C860.649 161.45 848.516 163.2 835.216 163.2H804.416V250H751.916V4.99998H835.216ZM804.416 116.65H836.266C846.766 116.65 855.399 113.85 862.166 108.25C868.932 102.65 872.316 94.7167 872.316 84.45C872.316 74.1833 868.932 66.25 862.166 60.65C855.399 55.05 846.766 52.25 836.266 52.25H804.416V116.65ZM1011.2 4.99998V200.65H1096.6V250H958.703V4.99998H1011.2ZM1218.31 254.55C1202.91 254.55 1189.14 252.217 1177.01 247.55C1164.87 242.65 1154.61 235.767 1146.21 226.9C1137.81 218.033 1131.27 207.3 1126.61 194.7C1122.17 182.1 1119.96 168.1 1119.96 152.7V4.99998H1173.16V149.9C1173.16 166.467 1177.01 179.533 1184.71 189.1C1192.41 198.667 1203.61 203.45 1218.31 203.45C1233.01 203.45 1244.21 198.667 1251.91 189.1C1259.61 179.533 1263.46 166.467 1263.46 149.9V4.99998H1316.66V152.7C1316.66 168.1 1314.32 182.1 1309.66 194.7C1305.22 207.3 1298.81 218.033 1290.41 226.9C1282.01 235.767 1271.74 242.65 1259.61 247.55C1247.47 252.217 1233.71 254.55 1218.31 254.55ZM1358.09 171.25C1369.99 182.217 1383.52 190.617 1398.69 196.45C1414.09 202.283 1428.44 205.2 1441.74 205.2C1453.64 205.2 1462.74 202.983 1469.04 198.55C1475.57 193.883 1478.84 187.233 1478.84 178.6C1478.84 173.7 1477.44 169.617 1474.64 166.35C1471.84 163.083 1467.99 160.4 1463.09 158.3C1458.42 155.967 1452.94 153.983 1446.64 152.35C1440.34 150.717 1433.81 148.967 1427.04 147.1C1418.64 145 1410.12 142.433 1401.49 139.4C1393.09 136.367 1385.39 132.283 1378.39 127.15C1371.62 122.017 1366.02 115.483 1361.59 107.55C1357.39 99.6167 1355.29 89.7 1355.29 77.8C1355.29 66.1333 1357.51 55.5167 1361.94 45.95C1366.37 36.3833 1372.56 28.2167 1380.49 21.45C1388.66 14.6833 1398.34 9.54999 1409.54 6.04999C1420.74 2.31665 1432.99 0.449979 1446.29 0.449979C1475.22 0.449979 1500.42 7.21665 1521.89 20.75V79.2C1510.46 69.4 1498.32 61.9333 1485.49 56.8C1472.89 51.6667 1459.94 49.1 1446.64 49.1C1433.81 49.1 1424.36 51.55 1418.29 56.45C1412.46 61.1167 1409.54 67.1833 1409.54 74.65C1409.54 78.6167 1410.71 82 1413.04 84.8C1415.61 87.6 1418.87 90.05 1422.84 92.15C1426.81 94.25 1431.47 96.1167 1436.84 97.75C1442.21 99.15 1447.92 100.667 1453.99 102.3C1462.86 104.633 1471.96 107.317 1481.29 110.35C1490.62 113.383 1499.14 117.583 1506.84 122.95C1514.54 128.083 1520.84 134.85 1525.74 143.25C1530.87 151.417 1533.44 161.917 1533.44 174.75C1533.44 186.417 1531.34 197.15 1527.14 206.95C1522.94 216.75 1516.87 225.15 1508.94 232.15C1501.24 239.15 1491.79 244.633 1480.59 248.6C1469.39 252.567 1456.79 254.55 1442.79 254.55C1427.39 254.55 1412.22 252.8 1397.29 249.3C1382.36 245.567 1369.29 240.317 1358.09 233.55V171.25Z' fill='url(%23paint0_linear_920_212)' fill-opacity='0.1'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_920_212' x1='18' y1='250' x2='1482' y2='250' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%2398DAD4'/%3E%3Cstop offset='1' stop-color='%23A2BBFF'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A")}
.steps__title{background-image:url("data:image/svg+xml,%3Csvg width='85' height='44' viewBox='0 0 85 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M79.7812 10.723C76.9969 7.89346 74.4364 6.53605 70.9807 5.58338C66.6942 4.40168 62.3114 3.23051 57.9421 2.68966C48.0279 1.46245 38.1355 0.957682 28.2231 2.8164C19.8526 4.38599 9.77826 6.74867 3.49737 14.7503C-1.80674 21.5076 6.09837 29.5196 10.6074 31.9981C21.9827 38.2509 35.0283 41.603 47.3442 42.6736C53.9492 43.2477 60.9612 42.8248 67.4671 41.0952C72.1561 39.8487 77.0709 38.1738 80.8036 34.0882C87.2102 27.0761 78.2224 19.1844 73.4812 16.5589C63.0011 10.7554 51.4606 10.3033 40.2438 11.9407' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")}
.tabs__title{background-image:url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 32.6804C3.8192 22.6748 3.21923 12.1404 4.66786 2' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M20.6748 40.0169C23.834 35.3659 27.574 31.5855 31.198 27.3446C32.2549 26.1077 34.0042 24.6965 34.6811 23.3428' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3Cpath d='M28.6777 54.6902C34.0371 53.7445 39.2662 52.4803 44.6478 51.6889C47.9969 51.1964 51.5245 51.0764 54.6893 50.0215' stroke='%236A8AE8' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A")}
}

 @media screen and (min-width: 375px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 676px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){
.steps__title{background-image:url("data:image/svg+xml,%3Csvg width='135' height='8' viewBox='0 0 135 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.93164 6.45916C29.8295 4.10986 57.7424 2.11889 85.7543 1.8209C100.585 1.66312 145.002 4.45543 130.17 4.45543' stroke='white' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A")}
}

}

 @media (min-height: 700px) and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1025px){

@supports (-webkit-appearance:none){

}

}

 @media (min-height: 700px) and (min-width: 1025px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1460px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 767px){

@supports (-webkit-appearance:none){
.intro__slogan{background-image:url("data:image/svg+xml,%3Csvg width='185' height='32' viewBox='0 0 185 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M175.464 4.66668C169.041 2.97087 163.213 2.29058 155.404 1.99358C145.717 1.62519 135.815 1.27471 125.984 1.36801C103.675 1.57972 81.4614 2.2994 59.3531 4.69079C40.6838 6.71019 18.2444 9.47519 4.6695 15.8108C-6.79432 21.1611 11.4405 25.9607 21.7086 27.2209C47.6127 30.4002 77.0779 31.3489 104.762 30.7652C119.608 30.4522 135.304 29.3906 149.783 27.461C160.217 26.0704 171.131 24.3525 179.242 21.0604C193.161 15.4101 172.506 10.8133 161.708 9.47452C137.84 6.5152 111.934 7.45133 86.887 9.82834' stroke='%237699EE' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A")}
}

}

 @media screen and (max-width: 675px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 374px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px) and (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 676px) and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1025px) and (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}
